.mutisig-wallet-arrow {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    border-top: 0.12rem transparent dashed;
    border-left: 0.12rem transparent dashed;
    border-right: 0.12rem transparent dashed;
    border-bottom: 0.12rem #fff solid;
  }

  &:before {
    text-align: center;
    border-bottom: 0.12rem #4c4f54 solid;
  }

  &:after {
    top: 0.02rem;
    border-bottom: 0.12rem #fff solid;
  }

  &.mutisig-wallet-arrow-right {
    transform: rotate(90deg);
  }
}