.mutisig-wallet-icon {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: -0.15rem;
  fill: currentColor;
  overflow: hidden;

  &.mutisig-wallet-icon-large {
    width: 0.44rem;
    height: 0.44rem;
  }
}

@mixin icon() {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.mutisig-wallet-icon-jingchang {
  @include icon();
  height: 0.8rem;
  width: 0.8rem;
  background-image: url("../assets/image/jingchang.png");
}