.pulldown-wrapper {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(-100%) translateZ(0);
  text-align: center;
  color: #999;
  z-index: -999;
}

.pullup-wrapper {
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  z-index: -999;
}